.container {
  background-color: red;
}

.inputContainer {
  display: flex;
  gap: 1rem;
  padding-left: 30px;
}

.input {
  padding: 10px;
  font-size: 15px;
}

.heading {
  padding-left: 30px;
}

.button {
  background-color: white;
  font-size: bold;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 15px;
  outline: none;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}
